body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
